
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
img{
    width: 140px;
}
h2{
    color: #FFFFFF;
    font-size: 1.8rem;
}
h2 span{
    color: #F9E343;
}
input, button{
    padding: 16px 12px;
    width: 380px;
    border-radius: 4px;
}
button{
    background: #F9E343;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
}
input{
    background: #202024;
    transition: outline .3s ease-in-out;
    color: #7C7C8A;
}
input:focus{
    outline: 1px solid#F9E343;
}
input::placeholder{
    color: #7C7C8A;
}
